@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

html{
background: url(grid.gif) 5px 5px;
}

body {
  font-family: $font-primary;
  font-size: 1.2rem;
  line-height: 160%;
  color: $blue;
}


#{headings()} {
  font-family: $font-secondary;
  font-weight: normal;
  color: $darkgray;
  @include text-shadow($paleryellow 1px 1px);
}

h1 {
  font-size: 2.2rem;
  color: lighten($darkblue, 25);
  margin-bottom: .4rem;
  border-bottom: 1px solid $lightgray;
  padding-top: 10px;
}

h2 {
  font-size: 1.5rem;
  line-height: 100%;
  margin: 20px 0 0 0;
  color: $orange;
}

h3 {
  font-size: 1.8rem;
  line-height: 60%;
  color: $orange;
}

td{

    font-size:10px;
}
div{color:black}

input:disabled {
    border: 1px solid red;
    background:yellow;
    color:blue;
    opacity: 0.65;
    cursor: not-allowed;
}

input[disabled]:hover, input[disabled].btn:hover, input[disabled].btn:focus{
  color:green
}

p {
  margin-bottom: 10px;
}

label{
    color:black;
    font-size:12px;
    display: block;
}
i {

    margin-right:6px;
}

.small {
  font-size: 1rem;
  color: $blue;
}
ul.navlist
{
    margin-left: 0;
    padding: 0 16px;
    white-space: nowrap;
    clear:both;
}
.navlist li
{
    display: inline;
    list-style-type: none;
}
.button:hover  {
                background-color:#fafafa;
                color:#207cca;
}

.nav-action {

    font-size:10px;
}

.wlClose {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 22px;
    text-align: center;
    top: 8px;
    width: 18px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    &:hover {
        color: $blue;
    }
}


section table { display : none }

section.approvers-table table { display : block }

.displayBlock{ display :block }

.displayHidden{ display :none }

.navlist a { padding: 3px 10px; }

.navlist a:link, .navlist a:visited
{
    color: #fff;
    background-color: #036;
    text-decoration: none;
}
.navlist a:hover{
    color: #fff !important;
    background-color: red !important;
    text-decoration: none !important;
}
.active-tab{
    color: #fff;
    background-color: red;
    text-decoration: none;
}
.ps-hidden{

    display:none;
}

.textareaBackground {
    width: 100%;
    height: 100%;
    position: relative;
    padding:0px 10px 2px 15px;
}
.textareaBackground textarea {
    width: inherit;
    height: inherit;
    border-radius: 10px;
    height:83px;
}
.textareaBackground .background {
    position: absolute;
    top: 0;
    left: 0;
    color: gray;
}

section#rf-hdr-messages   {
h1{
    line-height:1.4em;
}
li{
/*    padding:0.15em 0 0.5em 1.5em; */
    margin-bottom:0.0em;
    text-indent:0.4em;
    font-weight:bold;
    font-size:0.6em;
    list-style:none;
    background-repeat:no-repeat;

}
.bold-green{
    font-size:20px;
    font-weight:bold;
    color:green;

}

.fa-exclamation
{
   color: rgba( $cyan, .7 );
   text-shadow: 1px 1px 1px #ccc;
   font-size: 1.5em;
   margin-right: 10px;
   margin-left: 7px;
}
.fa-exclamation-triangle {
    color: rgba( $red, .7 );
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}
.fa-check{
    color: rgba( green    , .7 );
    text-shadow: 1px 1px 1px #ccc;
/*    font-size: 1.5em; */
}

}

.fa-lock{
    color: rgba( red    , .7 );
    margin-left: 7px;
    text-shadow: 1px 1px 1px #ccc;
/*    font-size: 1.5em; */
}
