
[data-error^="wrapper"]
{
    background-color:  rgba( $red, .7 );
    box-shadow: 6px 6px 5px rgba( $yellow, .7 );

}

[data-error^="text"]{
    color :  rgba( $paleryellow, .9 );
    float:right;
    font-size:10px;
}
