@include border-box-sizing;

$small: 30em;
$medium: 47em;
$large: 75em;
$susy: (
    columns: 12,
    gutters: .05,
);

@include border-box-sizing;

#processing{
    float:right;
    width:80px;
    height:10px;
    position:fixed;
    top:20px;
    right:30px;
}

body {
  overflow: hidden;
  @include layout($susy float inside);
}

.content{
    padding:6px;
}
#page-header {
    padding-top:1px;
//  background: rgba( $paleryellow, .7 );

    #work-list-menu{


  position: fixed;
  top: 26px;
  left: 7px;
        float:left;
        .navlist li {
            a{
                text-decoration:none;
            }
            padding-top:4px;
  display: inline;
  list-style-type: none;
  border-style: solid;
  border-color: blue;
  border-width: 1px;
  margin: 2px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
    }
    #base-ps-menu{
  //    @include span(6 );
      float:right;
      .navlist{

a {
  color: #ff9715;
  color: blue;
  font-size: 10px;
}
      }
  }
  .header-timing-data{
    //  @include span(2 omega);
  }
}

.header-placeholder{
    height:60px;
}
.remove-add{
    z-index:9;
    background:white;
    padding-bottom:4px;
    position:fixed;
  border-width: 1px;
  border-color: blue;
  border-style: solid;
  margin: 6px;
li {
    padding:6px;
    line-height:30px;
}
}

#body-anchor {
  #work-lists {
     // @include span(12 );
      display:none;
    height: inherent;
    position: absolute;
    padding-left:15px!important;
    padding-right:15px!important;
    margin-right:1px!important;
    margin-left:15px!important;
    border-style:solid;
    border-color:blue;
    border-width:1px;
    text-align: center;
//    max-height: $page-height;
    background-color: white;
    z-index: 10;
    .wlHeader {
      display: none;
      .wlClose {
      }
      .pager {
//        height: 2em;
        display: none;
      }
      .tablesorter-default {
      }
    }
  }
  #content {
//    @include span(12 );
    height: $page-height;
    #image-now {
 //     @include span(6 );
        width: 40%;
        margin-top:38px;
     //background: rgba( $yellow , .7 );
      height: 100%;
      iframe{ height:100%;
              width:100%;
              }
    }
    #component-data {
 //    @include span( 6 );
 //     background: rgba( $purple , .9 );
      height: 100%;
      overflow: scroll;
 //     float:right!important;
      position:absolute;
      top:38px;
      right:0px;
      width:60%;
      
      #XX_HDR_VL,
      #XX_HDR_VI,
      #XX_HDR_FA,
      #XX_HDR_BU,
      #XX_HDR_SO,
      #XX_LIN_PO,
      #XX_HDR_HF,
      #XX_HDR_MU,
      #XX_HDR_SB,
      #XX_HDR_PY,
      #XX_HDR_SC,
      #XX_HDR_IP,
      #XX_HDR_LO,
      #XX_HDR_WI{
          display: none;
      }
      .actions {
        @include span( 12 );
      }
    }
  }

}

.has-error input{
    background-color: fade-out($red, .3);
}

.highlight {
    background-color: #FFFF88;
}

.select2-container {
    width: 100%;
}

.loc-ps-approver-buttons button {
  width: 23% !important;
  height: 30px;
  font-size: small !important;
  margin-top: 20px;
}

.ps-sas-actions button {
    width: 23% !important;
    height: 30px;
    font-size: small !important;
    margin-top: 20px;
}

.btn-bar{
    padding-bottom:300px;
}

.btn-bar button {
    width: 20% !important;
    height: 30px;
    font-size: small !important;
    margin-top: 20px;
}
#toggle-left i {
  color: green;
  cursor: hand;
}
#divider2:hover {
  border: white 1px solid;
  cursor: w-resize;
}
