#full-section {
   .detail > :not(:first-child)
                   {


  padding-top: 8px;
  display: inline-block;
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 2px;
  margin-top: 3px;
  margin-left:2px;

    }
  .detail {

   margin: 4px; 
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;

  display: inline-block;
  border-width: 1px;
  border-style: solid;

   #row-key-menu ul li {
       background-color: initial;
       padding:4px;
   }
      #row-key-menu ul li:nth-child(1) div{
          width:120px;

      }
      #row-key-menu ul li:nth-child(2) div{
          width:120px;
        }
      #row-key-menu ul li:nth-child(3) div{
          width:123px;
          display:inline-block;
      }


      input, a , div , span, li
           {
              font-size: 10pt;
                           }
    input {
      @include border-radius( 0px);
    }
    #line1-header {
        ul > li > div{
            text-decoration:underline;
        }
        background-color:lemonchiffon;
        .hdr1 {
            padding-top:8px;
            width:19px;
      }
      .hdr2 {
          width: 75px;
      }
      .hdr3 {
          width:180px;
          
      }
      .hdr4 {
          width:85px;
      }
      .hdr5 {
          text-align:center;
          width: 90px;
      }
      .hdr6 {
          width:65px;
      }
    }
    .line2 {

            padding-top:10px;
            padding-right:10px;
            margin-left:20px;
            border:solid;
            border-color:yellow;
            border-width:1px;

            li {
                padding-bottom:4px;
                line-height:30px;
            }


    }
          .line2 > div > div  > ul >  li > :first-child{
                padding-left:5px;
                width: 60px;
            display:inline-block;
            }
       .line2 >div > div > :first-child  >  li  >:nth-child(2){
                padding-left:5px;
                width: 130px;
            display:inline-block;
       }
       .line2 >div > :nth-child(2 ) > ul > li  >:nth-child(2){
                padding-left:5px;
                width: 100px;
            display:inline-block;
        }
 .line2 >div > :nth-child(3 ) > ul > li  >:nth-child(2){
                padding-left:5px;
                width: 80px;
                display:inline-block;
                text-align:right;
        }
 .line2 >div > :nth-child(3 ) > ul > li  >:nth-child(2) input{
                text-align:right;
        }

       .line2  > div >  div {
            display:inline-block;
        }
    .group {

        .line1 {
            
            line-height:30px;
            .XX_LIN_AF,
            .XX_LIN_AO,
        .XX_LIN_SC,
        .XX_LIN_SO {
          display: none !important;
        }
        .rf-lin-pl{
            width:19px;

            background-color:initial;
                                 color:initial;
        }
        .rf-lin-ma {
              width:90px;
            input {

              text-align: right;
          }
        }
        .rf-lin-ld {
            width:180px;
        }
        .rf-lin-sc {
            width:75px;
        }
        .rf-lin-so {
            width:85px;
        }
        .row-buttons {
            padding-left:3px;
            background-color:initial;
            width:73px;
            
        }

      }
      .line2 {

        
        .XX_LIN_AB,
        .XX_LIN_II,
        .XX_LIN_UM,
        .XX_LIN_AP,
        .XX_LIN_AI {
           display: none !important;
        }
        .rf-lin-ab {
          display: none !important;

        }
        .rf-lin-ap {

        }
        .rf-lin-ai {

        }
        .rf-lin-ii {


        }
        .rf-lin-um {

        }
        .rf-lin-lq {

        }
        .rf-lin-up {

        }
      }
    }
  }
}
