#full-section {
  .content {
  }

  .remove-add{
      .rf-hdr-vi{
          width:105px;
      }
  }

  input {
    @include border-radius( 6px);
    height: 30px !important;
    display: block;
    width: 100%;
    padding-top:7px;
    padding-bottom:10px;
  }

  .header1{
  line-height: 35px;
  display: inline-block;
  width: 100%;
  }

  .header1,
  .header2,
  .approver,
  .payment {
  }

  .header {
  }
  .header0{
      display:block;
  }

  .payment{
      display:inline-block;
  }
  .comment {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px 20px 13px 0;
  }

  .workflow-actions{
      width:40%;
      display:inline-block;
      float:left;
  }
  
  .workflow-comments{
      padding:10px;
      width:60%;
      display:inline-block;
  }
  
  .workflow {


.bubble 
{
position: relative;
width: 100%;
height: 100%;
padding:3px;
margin-top:20px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #0000E2 solid 2px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 11px 18px;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
top: -18px;
left: 32px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 13px 20px;
border-color: #0000E2 transparent;
display: block;
width: 0;
z-index: 0;
top: -23px;
left: 30px;
}


    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    //  padding: 5px 20px 13px 0;
    .navlist li{
        display:block;
  display: block;
  border-top-style: solid;
  border-top-width: 1px;
  margin-top: 6px;
  clear:both;
    }
   li > div > div{
        font-size:10pt;
        display:inline-block;
   }
   li > div{
       display:inline-block;
   }

   li > .workflow-actions > div:nth-child(1){
        width: 90%;
   }
   
   li > .workflow-actions > div:nth-child(2){
        width: 10%;
        }
   li > .workflow-actions > div:nth-child(3){
       width: 100%;
            }
   li > .workflow-actions > div:nth-child(4){
        width: 30%;
    }
    
   li > .workflow-actions > div:nth-child(5){
        width: 70%;
   }
  li > .workflow-actions > div:nth-child(6){
        width: 30%;
    }
  li > .workflow-actions > div:nth-child(7){
        width: 70%;
    }
  }
   .vl-check {
        margin-bottom: 0;
        height: 0px;
      }
   .header0{
       page-break-before:always;
   }
  .header3 {
      
  overflow: hidden;
  display: inline-block;
  float: left;
  width: 100%;
    .rf-hdr-vendor {
        width: 50%;
        position: relative;
      min-height: 8em;
      margin-top: 20px;
      margin-right: -20px;
      display:inline-block;
     
      input.NL-check {
      }
      label {
        margin: 0;
      }
    }


    .messages {
  border-color: red;
  border-style: groove;
  border-width: medium;
  margin-bottom: 10px;
        float:right;
        width:50%;
        position: relative;
      min-height: 8em;
      margin-top: 20px;
      display:inline-block;
      padding: 5px 20px 13px 0;
      div {
        font-size: 12px !important;
        line-height: 100%;
      }
    }
  }
}

#full-section {
  display: none;
  .rf-hdr-sc {
    @include span( 4 );
  }
  .rf-hdr-ii {
    @include span( 4 );
    label {
      display: inline;
      margin-right: 5px;
    }
    span {
      font-size: 12px;
      margin-right: 3px;
    }
  }

  .rf-hdr-bu {
      line-height:30px;
    @include span( 4 );
  }
  .rf-hdr-id {
    @include span( 3 );
    input {
      width: 80%;
    }
  }
  .rf-hdr-in {
    @include span( 6 );
  }
  .rf-hdr-ga {
    @include span( 4 omega);
    input {
      text-align: right;
    }
  }
  .rf-hdr-st {
    @include span( 3 omega);
    input {
      text-align: right;
    }
  }
  .rf-hdr-so {
      line-height:30px;
    @include span( 4 );
  }
  .rf-hdr-fa {
    @include span( 12 );
  }
  .rf-hdr-fa > div{
      line-height:30px;
  }
  .rf-hdr-ra {
    @include span( 4 omega);
    input {
      text-align: right;
    }
  }
  .rf-hdr-lt {
    @include span( 4 omega);
    input {
      text-align: right;
    }
  }
  .rf-hdr-cc {
    @include span( 2 );
  }
  .rf-hdr-ut {
    @include span( 3 omega);
    input {
      text-align: right;
    }
  }

  .rf-hdr-wi {
    @include span( 2 );
  }
  .rf-hdr-sb {
    @include span( 3 );
  }
  .rf-hdr-hc {
      line-height:30px;
      float:left;
    @include span( 6 );
  }
  .rf-hdr-mu {
    @include span( 2 );
  }
  .rf-hdr-hf {
    @include span( 2 );
  }
  .rf-hdr-py {
      line-height:30px;
      float:right;
    @include span( 6 );
  }
  .rf-hdr-pn {
      float:right;  
    @include span( 12 );
  }
  .rf-hdr-wf {
    @include span( 12 );
  }
}
