#quick-section > div{

    padding-top:10px!important;

}

#quick-section {
    display:none;
//    height:1000px;
    margin:20px;  

    
        label{
            display: inline-block;
            margin:4px;
            margin-left: 10px;
        }
  
    .qf-hdr-bu {
        @include span( 6 );
    }
    .qf-hdr-id {
        @include span( 6 );
    }
    .qf-hdr-in {
        @include span( 6 );
    }
    .qf-hdr-ga {
        @include span( 6 );
        input {
            text-align:right;
        }
    }
    .qf-hdr-st {
        @include span( 6 );
        input {
            text-align:right;
        }
    }
    .qf-hdr-po {
        @include span( 12 );
    }
    .qf-hdr-vi {
        @include span( 12 );
    }
    .qf-hdr-so {
        @include span( 6 );
    }
    .qf-hdr-fa {
        @include span( 6 );
    }
    .loc-ps-approver-buttons {
        @include span( 12 );
    }

  .loc_vendorInfoQuick {
      @include span( 12 );

      position: relative;
      min-height : 8em;
      margin:20px;
      border-radius: 10px;
     
      .vl-check{ float: right;
        margin-bottom: 0px;
        height: 25px;
        margin-right: 40px;

    }

      input.NL-check{
          @include span( 4 omega ) ;
      }
  }
  input {
  //  @include border-radius( 6px);
    height: 30px !important;
    display: block;
    font-size: 1.2rem;

  }
}
