.PAGE_APPROVE {
    @include span( 10 );

    .header3{

        .messages {
            @include span( 7 omega);
            position: relative;
            min-height: 8em;
            margin-top:20px;
            padding: 5px 20px 13px 0px;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);

            div{

                font-size:14px !important;
                line-height:100%;
            }
        }
        .comment {
            @include span( 4.8 );
            position: relative;

            margin-top:20px;
            margin-bottom:10px;
            padding-left:0px!important;
            padding-right:0px!important;
            padding-bottom:4px!important;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);

            label{
                margin-left: 17px;
            }

            .div-header {
                background:#F0F0F0;
                border:1px solid #CCC;
                border-bottom:1px solid #380E0E;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                margin:0px auto;
                margin-bottom: 5px;
            }
        }

    }
    .approvers-list {
        @include span( 12 );
        position: relative;
        height: 200px;
        margin-top:20px;
        margin-bottom:10px;
        padding: 5px 20px 13px 0px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);

    }

  label {
    display: block;
  }
  #apprver-tbl {
    @include span( 10 );
    height: 300px;
  }
  input.SearchInputApprover {
    @include border-radius( 6px);
    height: 26px !important;
    display: block;
    font-size: 1.2rem;
    margin-bottom:10px;
    width: 40%;
  }
  .approver-modal-buttons {
    @include span( 12 );
  }
  #APPROVER_ADD_LIST li {
    display: inline-block;
    margin: 10px;

  }

  #APPROVER_ADD_LIST li:last-child {
      .arrow-wrapper{
    display: none;
}
}


  .approver-modal {
    padding-bottom: 3px !important;
  }
  .approver-list-container {
    width: 160px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px;
    border-radius: 10px;
    height: 200px;
    display: inline-block;
    background: -moz-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
  }

}
