#full-section {
  .detail {
    @include span( 12 );
    @include bleed($grid-padding);
    input {
      @include border-radius( 0px);
    }
    .line1-header {
      .hdr1 {
        @include span( 3 );
        @include bleed($grid-padding);
        display: none;
      }
      .hdr2 {
        @include span( 2 );
        @include bleed($grid-padding);
      }
      .hdr3 {
        @include span( 4 );
        @include bleed($grid-padding);
      }
      .hdr4 {
        @include span( 2 );
        @include bleed($grid-padding);
      }
      .hdr5 {
        @include span( 1 );
        @include bleed($grid-padding);
      }
      .hdr6 {
        @include span( 3 );
        @include bleed($grid-padding);
      }
    }
    .line2 {
        .hdr0 {
          @include span( 1 );
          @include bleed($grid-padding);
        }
      .hdr1 {
        @include span( 2 );
        @include bleed($grid-padding);
      }
      .hdr2 {
        @include span( 2 );
        @include bleed($grid-padding);
      }
      .hdr3 {
        @include span( 2 );
        @include bleed($grid-padding);
      }
      .hdr4 {
        @include span( 1 );
        @include bleed($grid-padding);
      }
      .hdr5 {
        @include span( 1 );
        @include bleed($grid-padding);
      }
      .hdr6 {
        @include span( 3 );
        @include bleed($grid-padding);
      }

    }
    .group {
      @include span( 12 );
      @include bleed($grid-padding);
      .line1 {
        @include span( 12 );
        @include bleed($grid-padding);
        .XX_LIN_SC,
        .XX_LIN_SO {
          display: none !important;
        }
        .rf-lin-pn{
            display:inline;
        }
        .rf-lin-ma {
          @include span( 2 );
          @include bleed($grid-padding);
          input {
            text-align: right;
          }
        }
        .rf-lin-ld {
          @include span( 4 no-gutters);
          @include bleed($grid-padding);
        }
        .rf-lin-sc {
          @include span( 2 no-gutters);
          @include bleed($grid-padding);
        }
        .rf-lin-so {
          @include span( 2 no-gutters);
          @include bleed($grid-padding);
        }
        .row-buttons {
          @include span( 1 no-gutters omega);
          width:19%!important;
          @include bleed($grid-padding);
          padding:0em!important;
        }

      }
      .line2 {
        @include span( 12 );
        @include bleed($grid-padding);

        .XX_LIN_AB,
        .XX_LIN_II,
        .XX_LIN_UM,
        .XX_LIN_AP,
        .XX_LIN_AI {
           display: none !important;
        }
        .rf-lin-ab {
          display: none !important;

        }
        .rf-lin-indent {
            @include span( 1 no-gutters);
            @include bleed($grid-padding);
            i {
                padding-left:20px;
            }
        }
        .rf-lin-ap {
          @include span( 2 no-gutters);
          @include bleed($grid-padding);
        }
        .rf-lin-ai {
          @include span( 2 no-gutters);
          @include bleed($grid-padding);
        }
        .rf-lin-ii {
          @include span( 2 no-gutters);
          @include bleed($grid-padding);

        }
        .rf-lin-um {
          @include span( 1 no-gutters);
          @include bleed($grid-padding);
        }
        .rf-lin-lq {
          @include span( 1 no-gutters);
          @include bleed($grid-padding);
        }
        .rf-lin-up {
          @include span( 2 no-gutters);
          @include bleed($grid-padding);
        }
      }
    }
  }
}
