form#search {
display:inline;
}

.SearchInput {
                padding:8px 4px 4px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;
}
.searchButton {
                position:relative;
                padding:5px 15px 4px 15px;
                left:-8px;
                top:-1px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}