.select2-drop {
    z-index: 99999 !important;
}

.select2-drop-mask {


  background-color: black;

}
.xx-select2-match {
  background-color: yellow;

}
.s2-vendor-drop {
  .Inactive {
    color: red;
  }
  .Active {
    color: green;
  }

}

.s2-drop-subcat {
  width: 340px !important;
//  margin-top: 5px;
//  overflow-x: scroll;
//  position: fixed;
//  top: 60px !important;
  font-size:12px;
}
.s2-drop-shipto {
  width: 350px !important;
//  margin-top: 5px;
 // left:initial!important;
//  right:0px!important;
//  top:60px!important;
  font-size:12px!important;
//  margin-right:25%;

}

.s2-drop-bu {
//  width: 300px !important;
//  margin-top: 5px;
//  left:initial!important;
//  right:0px!important;
//  top:60px!important;
  font-size:12px!important;
//  margin-right:12px!important;

}

.select2-container .select2-choice {
  height: 100% !important;
}
.select2-results {
  max-height: 500px;
}

.select2-chosen{
    overflow:visible!important;
}
.select2-container-disabled{
    border: 1px solid red !important;
    background:yellow !important;
color:blue !important;
opacity: 0.65 !important;
cursor: not-allowed !important;
}
