.select2-drop {
    z-index: 99999 !important;
}

.select2-drop-mask {


  background-color: black;

}
.xx-select2-match {
  background-color: yellow;

}
.s2-vendor-drop {
  .Inactive {
    color: red;
  }
  .Active {
    color: green;
  }

}

.sc-drop1 {
  width: 440px !important;
  font-size:12px;
}
.st-drop1 {
  width: 350px !important;
  font-size:12px!important;
}

.s2-drop-bu {
  font-size:12px!important;
}

.select2-container .select2-choice {
  height: 100% !important;
}
.select2-results {
  max-height: 500px;
}

.select2-chosen{
    overflow:visible!important;
}
.select2-container-disabled{
    border: 1px solid red !important;
    background:yellow !important;
color:blue !important;
opacity: 0.65 !important;
cursor: not-allowed !important;
}
