.ps-AMOUNT{
    text-align:right;
    padding-right:4px;
}
.loc_WL_OPEN_SAS_FULL[data-locked="Y"] {
    display:none;
}
.loc_WL_UNLOCK_SAS_FULL[data-locked="N"] {
    display:none;
}
.loc_WL_OPEN_SAS_QUICK[data-locked="Y"] {
    display:none;
}
.loc_WL_UNLOCK_SAS_QUICK[data-locked="N"] {
    display:none;
}

.loc_WL_UNLOCK_SAS_QUICK[data-status="DEN"] {
    display:none;
}

.loc_WL_OPEN_SAS_FULL[data-status="DEN"] {
    display:none;
}

.loc_WL_OPEN_SAS_FULL[data-status="TBV"] {
    display:none;
}

.loc_WL_OPEN_SAS_FULL[data-status="VIP"] {
    display:none;
}

.loc_WL_OPEN_SAS_FULL[data-status="VCH"] {
    display:none;
}

.loc_WL_VIEW_APPROVER[data-wl="2"] {
    display:none;
}

.loc_WL_OPEN_APPROVER[data-wl="3"] {
    display:none;
}
.loc_WL_OPEN_APPROVER[data-locked="Y"][data-wl="0"]  {
    display:none;
}
.loc_WL_UNLOCK_APR_FULL[data-locked="N"] {
    display:none;
}

.loc_WL_OPEN_APPROVER[data-wl="1"] {
    display:none;
}
#work-lists button{
    font-size:16px!important;
    width:50%!important;
    height:initial !important;
}
