<li class="ps-approver-list-item" data-can-approve="{{canApprove}}"  id="{{id}}">
    <div class="approver-list-item-label">
        <a href="#remove" title="Remove" class="remove-approver">X</a>
        <div class="user-div">{{name}} </div>
        <i class="fa fa-female fa-4x"></i>
        <div class="clear"></div>
  </div>
  <div class="arrow-wrapper"><i class="fa fa-arrow-right fa-2x"></i></div>
</li>
