<div id="openModal" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="close">X</a>
        <h2>Unlock</h2>
        <p>{{name}}</p>
        <input id="unlock-cancel" type="submit" value="Cancel" class="graphite-flat-button">
        {{#threeButtonFlag}}
        <input id="unlock-view" type="submit" value="View" class="nephritis-flat-button">
        {{/threeButtonFlag}}
        <input id="unlock-open" type="submit" value="Unlock" class="peter-river-flat-button">
    </div>
</div>
