<div class="vendor-s2-row">
<div class="s2-drop header">
    <span>{{VENDOR_ID}}</span>
    <span>{{NAME1}}</span>

</div>
    <p>{{VENDOR_NAME_SHORT}}</>
    <p>{{VNDR_LOC}}</p>
    <p>{{ADDRESS1}}</p>
    <p>{{ADDRESS2}}</p>
    <p>{{CITY}}&nbsp,&nbsp{{STATE}}</p>
    <span>Status&nbsp:&nbsp{{VENDOR_STATUS}}</span>

</div>
