<div class="pi-slim-s2-row">
    <div class="s2-drop header">
    <span>{{XX_CUST_NAME_LONG}}</span>
    <span>{{XX_CUST_NAME_SHORT}}</span>
    <span>{{PROJECT_ID}}</span>
    <span>{{PROJ_DESCR}}</span>
    <span>Type:{{PROJECT_TYPE}}</span>
    <span>{{XX_MEDIA_TYPE_ID }}</span>
    <span>{{XX_PRODUCT}}</span>
    <span>{{DEPTID}}</span>
    <span>{{DEPTID_DESCR}}</span>
    <span>BU:{{BUSINESS_UNIT}}</span>

</div>
</div>
