<div class="po-wide-s2-row">

    <span>{{PO_ID }}</span>
    <span>{{NAME1}}</span>
    <span>{{XX_PO_ENTERED_BY}}</span>

    <span>{{XX_DTTM_CHAR}}</span>
    <span>{{XX_PO_STATUS_DESCR}}</span>
    <span>{{XX_CUST_NAME_LONG}}</span>
    <span>{{XX_CUST_NAME_SHORT}}</span>
    <span>{{XX_PRODUCT}}</span>

    <span>{{XX_MEDIA_TYPE_ID}}</span>
    <span>{{XX_CUST_NAME_LONG}}</span>
    <span>{{PROJECT_ID}}</span>
    <span>{{PROJ_DESCR}}</span>

    <span>{{XX_PRJ_OWNER_NAME}}</span>
    <span>{{DEPTID}}</span>
    <span>{{DEPTID_DESCR}}</span>


</div>
