<section id="full-section" class="component">
  <form name="component">
  <section class="header remove-add">
      <label> Add Section</label>
     <ul class="navlist">
      {{#user.isSAS}}
       <li>
         <div class="rf-hdr-vi">
           <label for="XX_HDR_VI" style="display:none">Vendor</label>
            <input type="hidden" tabindex="4" class="select2-offscreen" {{Locked}} data-ps-tbl-name="XX_289_D_VND_LC" data-s2-drop-class="s2-vendor-drop" data-ps-tbl-id="KEY1" id="loc_S2_XX_HDR_VI" placeholder="Vendor" />
            <input id="XX_HDR_VL" name="XX_HDR_VL" value="{{header.XX_HDR_VL}}" />
            <input id="XX_HDR_VI" name="XX_HDR_VI" value="{{header.XX_HDR_VI}}" />
           </div>
        </li>
       {{/user.isSAS}}

      <li>
        <div class="rf-lin-po">
          <label for="loc_XX_LIN_PO"  style="display:none">Add PO</label>
           <input type="hidden" tabindex="12" class="select2-offscreen" {{Locked}} data-ps-tbl-name="XX_289_D_PO_02" data-s2-drop-class="po-drop1" data-ps-tbl-id="PO_ID" id="loc_S2_XX_LIN_PO" placeholder="Purchase Order">
       </div>
      </li>
      <li>
        <div class="rf-lin-pi">
        <label for="loc_XX_LIN_PI"  style="display:none">Add Projecrt</label>
          <input type="hidden" tabindex="13" class="select2-offscreen" {{Locked}} data-ps-tbl-name="XX_289_D_PRJ_01" data-s2-drop-class="" data-ps-tbl-id="PROJECT_ID" id="loc_S2_XX_LIN_PI" placeholder="Project ID">
        </div>
       </li>
     </ul>
   </section>
   
   <div class="content">
     <div class="header-placeholder">
     </div>
  <section class="header1" >
      <div class="rf-hdr-ii">
        <label for="XX_HDR_II">ID</label>
        <span id="XX_HDR_II">{{header.XX_HDR_II}}
        {{#user.isLocked}}
                <i class="fa fa-lock "></i>
        {{/user.isLocked}}
        </span>
        <span id="XX_HDR_SS" >{{header.XX_HDR_SS}}</span>
{{#user.isSAS}}
{{#header.XX_HDR_VL}}
            <div class="vl-check">
              <input class="NL-check" type="checkbox" {{Locked}} value="" data-label="Remove location" tabindex="3" />
            </div>
{{/header.XX_HDR_VL}}
{{^header.XX_HDR_VL}}
          <div class="vl-check displayHidden">
            <input class="NL-check" {{Locked}} type="checkbox" value="" data-label="Remove location" tabindex="3" />
          </div>
{{/header.XX_HDR_VL}}
{{/user.isSAS}}
</div>


      <div class="rf-hdr-bu">
        <label for="XX_HDR_BU ">Business Unit</label>
        <input type="hidden" class="select2-offscreen" data-ps-tbl-name="XX_289_D_BU_SEC" data-s2-drop-class="s2-drop-bu" {{user.canEdit.rf_hdr_bu}} {{isBULocked}} {{Locked}} {{header.Approverdisabled}} data-linked-field="XX_HDR_BU" tabindex="1" id="loc_S2_XX_HDR_BU" />
        <input id="XX_HDR_BU" name="XX_HDR_BU" value="{{header.XX_HDR_BU}}" />
      </div>

      <div class="rf-hdr-so">
        <label for="XX_HDR_SO">Ship To</label>
        <input type="hidden" class="select2-offscreen" data-linked-field="XX_HDR_SO" data-s2-drop-class="s2-drop-shipto" {{Locked}} {{header.Approverdisabled}} data-ps-tbl-name="XX_289_D_SHIPTO" tabindex="2" id="loc_S2_XX_HDR_SO" />
        <input id="XX_HDR_SO" name="XX_HDR_SO" value="{{header.XX_HDR_SO}}" />
      </div>
  </section>
  <section class="header3">
    <section class="rf-hdr-vendor">
        <div class="loc_vendorInfoFull" id="loc_vendorInfo">
          <div id="addressInfo">
{{#header.XX_HDR_VI}}
{{^header.XX_HDR_VL}}
              <div>Vendor ID:</div>
              <div>{{header.XX_HDR_VI}}</div>
              No Location Selected
{{/header.XX_HDR_VL}}
{{/header.XX_HDR_VI}}
          </div>
        </div>
    </section>
    <section id="rf-hdr-messages" class="messages" title="errors and warnings">
        <ul>
        </ul>
      </section>
    </section>
  <section class="header2">
{{#user.isSAS}}
        <div class="rf-hdr-in">
          <label for="RF_HDR_IN">Invoice Number</label>
          <input id="XX_HDR_IN" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="5" autocomplete="off" {{Locked}} name="XX_HDR_IN" value="{{header.XX_HDR_IN}}" />
        </div>
        <div class="rf-hdr-ga">
          <label for="XX_HDR_GA">Invoice Amount</label>
          <input id="XX_HDR_GA" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="6" autocomplete="off" {{Locked}} name="XX_HDR_GA" value="{{header.XX_HDR_GA}}" /></input>
        </div>
        <div class="rf-hdr-cc">
          <label for="XX_HDR_CC">CCD</label>
          <input id="XX_HDR_CC" name="XX_HDR_CC" disabled="disabled" value="{{header.XX_HDR_CC}}" />
        </div>
        <div class="rf-hdr-id">
          <label for="QF_HDR_ID">Invoice Date</label>
          <input id="XX_HDR_ID" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="XX_HDR_ID" {{Locked}} tabindex="7" value="{{header.XX_HDR_ID}}" />
        </div>
        <div class="rf-hdr-lt">
          <label for="XX_HDR_LT">Line Total</label>
          <input id="XX_HDR_LT" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="XX_HDR_LT" disabled="disabled" tabindex="9" value="{{header.XX_HDR_LT}}" />
        </div>
        <div class="rf-hdr-st">
          <label for="XX_HDR_ST">Sales Tax</label>
          <input id="XX_HDR_ST" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="8" {{Locked}} autocomplete="off" name="XX_HDR_ST" value="{{header.XX_HDR_ST}}" />
        </div>
{{/user.isSAS}}

{{#user.isApprover}}
        <div class="rf-hdr-in">
          <label for="RF_HDR_IN">Invoice Number</label>
          <input id="XX_HDR_IN" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="5" {{Locked}} autocomplete="off" name="XX_HDR_IN" disabled="disabled" value="{{header.XX_HDR_IN}}" />
        </div>

        
        <div class="rf-hdr-ga">
          <label for="XX_HDR_GA">Invoice Amount</label>
          <input id="XX_HDR_GA" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="6" {{Locked}} autocomplete="off" name="XX_HDR_GA" disabled="disabled" value="{{header.XX_HDR_GA}}" /></input>
        </div>

        <div class="rf-hdr-cc">
          <label for="XX_HDR_CC">CCD</label>
          <input id="XX_HDR_CC" name="XX_HDR_CC" disabled="disabled" value="{{header.XX_HDR_CC}}" />
        </div>
        <div class="rf-hdr-id">
          <label for="QF_HDR_ID">Invoice Date</label>
          <input id="XX_HDR_ID" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="XX_HDR_ID" tabindex="7" disabled="disabled" value="{{header.XX_HDR_ID}}" />
        </div>

        <div class="rf-hdr-lt">
          <label for="XX_HDR_LT">Line Total</label>
          <input id="XX_HDR_LT" name="XX_HDR_LT" tabindex="9" disabled="disabled" value="{{header.XX_HDR_LT}}" />
        </div>
        <div class="rf-hdr-st">
          <label for="XX_HDR_ST">Sales Tax</label>
          <input id="XX_HDR_ST" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="8" autocomplete="off" disabled="disabled" name="XX_HDR_ST" value="{{header.XX_HDR_ST}}" />
        </div>

{{/user.isApprover}}

      <div class="rf-hdr-ra">
        <label for="XX_HDR_RA">Remaining Amount</label>
        <input id="XX_HDR_RA" name="XX_HDR_RA" tabindex="10" disabled="disabled" value="{{header.XX_HDR_RA}}" />
      </div>

      <div class="rf-hdr-ut">
        <label for="XX_HDR_UT">Use Tax</label>
        <input id="XX_HDR_UT" name="XX_HDR_UT" tabindex="11" disabled="disabled" value="{{header.XX_HDR_UT}}" />
      </div>
    </section>

  <section class="detail">
{{#sections}}
    <section class="group" data-key="{{SectionHeader.key}}" data-project_id="{{SectionHeader.pi}}" data-po_id="{{SectionHeader.po}}" data-can_edit="{{SectionHeader.section_ce}}" >
      <section class="group-header">
        <div id="row-header-menu" class="navcontainer nav-action">
          <ul class="navlist">
            <li>
              <a href="#" class="xx-link-pj" data-script-id="xxViewProjJacket">
                <span>Project Jacket</span> </a>
            </li>
            <li>
              <a href="#" class="xx-link-estimate" data-script-id="xxViewProjEstimate"> <span>View Estimate</span> </a>
            </li>
{{#SectionHeader.po}}
                  <li>
                    <a href="#" class="xx-link-po-view" data-script-id="XX_LIN_PRNT_PO{{ROW}}"> <span>Print PO</span> </a>
                  </li>
                  <li>
                    <a href="#" class="xx-link-po-modify" data-script-id="xxViewPOExp"> <span>Modify PO</span> </a>
                  </li>
{{/SectionHeader.po}}
                <li>
                  <a href="#" class="xx-link-pi-setup" data-script-id="xxViewProjSetup"> <span>View Setup</span> </a>
                </li>
              </ul>
            </div>

  <div id="row-key-menu" class="navcontainer nav-action">
    <ul class="navlist">
      <li>
        <div>   <a href="#" class="xx-pop-pi tooltip" data-link-id="{{SectionHeader.pi}}"> Pop PJ </a> {{SectionHeader.pi}}</div>
                       
      </li>
{{#SectionHeader.po}}
              <li>
                <div> <a href="#" class="xx-pop-po tooltip" data-link-id="{{SectionHeader.po}}"> Pop PO </a>{{SectionHeader.po}}</div>
                   
              </li>
              <li><div>Remaining Anount :&nbsp</div>
              <div class="open-po">
                0.00</div>
                </li>
{{/SectionHeader.po}}
    </ul>
   </div>
  </section>
  <div id="line1-header" class="navcontainer nav-action">
    <ul class="navlist">
      <li><div class="hdr1">#</div></li>
      <li>    <div class="hdr2">Subcat</div></li>
      <li>    <div class="hdr3">Description</div></li>
      <li>    <div class="hdr4">Ship To</div></li>
      <li>    <div class="hdr5">Amount</div></li>
      <li>    <div class="hdr6">Asset / Qty</div></li>
    </ul>
  </div>  

{{#lines}}
    <section class="line line1" data-can-edit="{{XX_LIN_CE}}">
      <div id="line1-data" class="navcontainer nav-action">
        <ul class="navlist">
          <li><div class="rf-lin-pl">{{XX_LIN_PL}}</div></li>
          <li>
            <div class="rf-lin-sc">
              <input type="hidden" class="select2-offscreen lin_S2_XX_LIN_SC" data-s2-drop-class="s2-drop-subcat" {{Locked}} data-ps-tbl-name="XX_289_D_SC_01" data-pi="{{SectionHeader.pi}}" id="lin_S2_XX_LIN_SC" placeholder="Subcat">
              <input class="XX_LIN_SC" id="XX_LIN_SC{{ROW}}" name="XX_LIN_SC{{ROW}}" value="{{XX_LIN_SC}}" />
            </div>
          </li>
          <li><div class="rf-lin-ld">
              <input id="XX_LIN_LD{{ROW}}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="XX_LIN_LD{{ROW}}" {{Locked}} value="{{XX_LIN_LD}}" placeholder="Description" />
            </div>
            </li>
            <li>
              <div class="rf-lin-so">
                <input type="hidden" class="select2-offscreen lin_S2_XX_LIN_SO" {{Locked}} data-ps-tbl-name="XX_289_D_SHIPTO" data-s2-drop-class="s2-drop-shipto" data-line="SO" data-pi="{{SectionHeader.pi}}" id="lin_S2_XX_LIN_SO" placeholder="Ship To">
                <input class="XX_LIN_SO" id="XX_LIN_SO{{ROW}}" name="XX_LIN_SO{{ROW}}" value="{{XX_LIN_SO}}" />
              </div></li>
              <li>
                <div class="rf-lin-ma">
                  <input id="XX_LIN_MA{{ROW}}" data-row-id="{{ROW}}" {{Locked}} name="XX_LIN_MA{{ROW}}" value="{{XX_LIN_MA}}" placeholder="Amount" class="XX_LIN_MA" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                </div>
              </li>
{{^SectionHeader.section_ce}}
              <li>  <span class="row-buttons">
                <span class="lockDialog-line">
                  <i class="fa fa-lock"></i>
                </span>
{{^user.isLocked}}
  <a href="#" title="show asset" class="show-asset" data-row-id="{{ROW}}"   >
    <i class="fa fa-square-o">
    </i>
  </a>
  <input id="XX_LIN_AF{{ROW}}" class="XX_LIN_AF" name="XX_LIN_AF{{ROW}}"  />
  <a href="#" title="show quantity" class="show-qty" data-row-id="{{ROW}}"  >
      <i class="fa fa-square-o">
      </i>
  </a>
    <input id="XX_LIN_AO{{ROW}}" class="XX_LIN_AO" name="XX_LIN_AO{{ROW}}"  />
{{/user.isLocked}}
              </span></li>
{{/SectionHeader.section_ce}}

{{#SectionHeader.section_ce}}
{{^user.isLocked}}
    <li>    <div class="row-buttons">
  <a href="#" title="show asset" class="show-asset" data-row-id="{{ROW}}"   >
    <i class="fa fa-square-o">
    </i>
  </a>
    <input id="XX_LIN_AF{{ROW}}" class="XX_LIN_AF" name="XX_LIN_AF{{ROW}}"  />
  <a href="#" title="show quantity" class="show-qty" data-row-id="{{ROW}}"  >
      <i class="fa fa-square-o">
      </i>
  </a>
    <input id="XX_LIN_AO{{ROW}}" class="XX_LIN_AO" name="XX_LIN_AO{{ROW}}"  />
  <a href="#" id="loc_XX_ACTIVE_GRID$new${{ROW}}$${{ROW}}" name="XX_ACTIVE_GRID$new{{ROW}}$$0" data-route-id="loc_row_new" class="ps-new">
            <i class="fa fa-plus-square"></i>
          </a>
          <a href="#" id="loc_XX_ACTIVE_GRID$delete${{ROW}}$${{ROW}}" name="XX_ACTIVE_GRID$delete{{ROW}}$$0" data-route-id="loc_row_delete" class="ps-delete">
            <i class="fa fa-minus-square"></i>
          </a>
    </li>
{{/user.isLocked}}
{{/SectionHeader.section_ce}}

        </ul></div>
    </section>
    <section class="line line2" data-row-id="{{ROW}}" data-can-edit="{{XX_LIN_CE}}">
  <div>
    <div>
      <ul>
        <li>
          <div class="hdr1">Profile
          </div>
          <div class="rf-lin-ap">
            <input type="hidden" class="select2-offscreen lin_S2_XX_LIN_AP" data-s2-drop-class="s2-drop-subcat" disabled="disabled" data-ps-tbl-name="PROFILE_TBL" data-pi="{{SectionHeader.pi}}" id="loc_S2_XX_LIN_AP" placeholder="Profile">
              <input class="XX_LIN_AP" id="XX_LIN_AP{{ROW}}" name="XX_LIN_AP{{ROW}}" value="{{XX_LIN_AP}}" />
            </div>
          </li>
          <li>
            <div class="hdr2">Asset ID</div> 
            <div class="rf-lin-ai">
              <input type="hidden" class="select2-offscreen loc_S2_XX_LIN_AI" disabled="disabled" data-ps-tbl-name="ASSET" data-s2-drop-class="s2-drop-shipto"  data-pi="{{SectionHeader.pi}}" id="loc_S2_XX_LIN_AI" placeholder="Asset ID">
                <input class="XX_LIN_AI" id="XX_LIN_AI{{ROW}}" name="XX_LIN_AI{{ROW}}" value="{{XX_LIN_AI}}" />
              </div>
            </li>
          </ul>
          <div class="rf-lin-ab">
            <input class="XX_LIN_AB" id="XX_LIN_AB{{ROW}}" name="XX_LIN_AB{{ROW}}" value="{{XX_LIN_AB}}" />
          </div>
        </div>
        <div>
          <ul>
            <li>
              <div class="hdr3">Item
              </div>
              <div class="rf-lin-ii">
                <input type="hidden" class="select2-offscreen loc_S2_XX_LIN_II" disabled="disabled" data-ps-tbl-name="MASTER_ITEM_TBL" data-s2-drop-class="s2-drop-shipto" data-pi="{{SectionHeader.pi}}" id="loc_S2_XX_LIN_II" placeholder="item">
                  <input class="XX_LIN_II" id="XX_LIN_II{{ROW}}" name="XX_LIN_II{{ROW}}" value="{{XX_LIN_II}}" />
                </div>
              </li>

              <li>
                <div class="hdr4">Unit</div>
                <div class="rf-lin-um">
                  <input type="hidden" class="select2-offscreen loc_S2_XX_LIN_UM" disabled="disabled" data-ps-tbl-name="XX_289_D_UNIT" data-s2-drop-class="s2-drop-shipto" data-pi="{{SectionHeader.pi}}" id="loc_S2_XX_LIN_UM" placeholder="Unit">
                    <input class="XX_LIN_UM" id="XX_LIN_UM{{ROW}}" name="XX_LIN_UM{{ROW}}" value="{{XX_LIN_UM}}" />
                  </div>
              </li>
          </ul>
        </div>
        <div>
          <ul>
                <li>
                  <div class="hdr5">Qty
                  </div>
                  <div class="rf-lin-lq">
                    <input id="XX_LIN_PQ{{ROW}}" data-row-id="{{ROW}}" autocomplete="off" disabled="disabled" autocorrect="off" autocapitalize="off" spellcheck="false" name="XX_LIN_PQ{{ROW}}"  {{Locked}} value="{{XX_LIN_PQ}}" placeholder="Qty" />
                  </div>
                </li>
                <li>
                  <div class="hdr6">Price
                  </div>
                  <div class="rf-lin-up">
                    <input name="XX_LIN_UP{{ROW}}" id="XX_LIN_UP{{ROW}}" data-row-id="{{ROW}}" value="{{XX_LIN_UP}}"  {{Locked}} autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" disabled="disabled" placeholder="Unit Price" />
                  </div>
                </li>
              </ul>
            </div>
          </div>
    </section>
{{/lines}}
    </section>
{{/sections}}
</section>

  <section class="payment">
  
        <div class="rf-hdr-pm">
          <label for="XX_HDR_PM">Payment Message</label>
          <input id="XX_HDR_PM" name="XX_HDR_PM" {{Locked}} value="{{header.XX_HDR_PM}}" />
        </div>
        <div class="rf-hdr-wi">
          <input name="XX_HDR_WI" id="loc_XX_HDR_WI" data-label="Wire" {{Locked}} class="ps-check" type="checkbox" data-ps-id="XX_HDR_WI"></input>
        </div>
        <div class="rf-hdr-sb">
          <input name="XX_HDR_SB" id="loc_XX_HDR_SB" data-label="SAS Review" {{Locked}} class="ps-check" type="checkbox" data-ps-id="XX_HDR_SB"></input>
        </div>
        <div class="rf-hdr-mu">
          <input name="XX_HDR_MU" id="loc_XX_HDR_MU" data-label="Urgent" {{Locked}} class="ps-check" type="checkbox" data-ps-id="XX_HDR_MU"></input>
        </div>
        <div class="rf-hdr-hf">
          <input name="XX_HDR_HF" id="loc_XX_HDR_HF" data-label="Hold" {{Locked}} class="ps-check" type="checkbox" data-ps-id="XX_HDR_HF"></input>
        </div>
        <div class="rf-hdr-hc">
          <label for="XX_HDR_HC">Handling Code</label>
	   <select id="loc_XX_HDR_HC" data-ps-id="XX_HDR_HC" {{Locked}} title="Select" name="XX_HDR_HC" placeholder="select">
            <option> None </option>
            <option value="HD">High Dollar Payment</option>
            <option value="LO">Local Office Pickup </option>
            <option value="RE">Regular Payments</option>
            <option value="SP">Special Handling</option>
          </select>
        </div>
        <div class="rf-hdr-py">
          <label for="XX_HDR_PY">Payment Instructions</label>
          <select name="XX_HDR_PY" id="loc_XX_HDR_PY" {{Locked}} data-ps-id="XX_HDR_PY" title="Select" placeholder="select">
            <option value="none" > None </option>
            <option value="P">Employee Pickup</option>
            <option value="U">UPS</option>
            <option value="F">FedEx</option>
            <option value="M">Messenger</option>
          </select>
        </div>
        <div class="rf-hdr-pn">
          <label for="XX_HDR_PN" id="psInstlbl">Enter special handling Instructions below</label>
          <input id="XX_HDR_PN" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" {{Locked}} name="XX_HDR_PN" value="{{header.XX_HDR_PN}}" />
        </div>
  </section>
  
  <section class="header0">
    <section id="comment" class="comment">
        <label> Add a comment</label>
        <div class="textareaBackground xx-comment">
          <div class="background"></div>
          <textarea {{Locked}} id="XX_HDR_CT" name="XX_HDR_CT"></textarea>
        </div>
    </section>
  <section id="workflow" class="workflow">
    <label> Workflow Information</label>

<ul class="navlist workflow">
{{#workflowLines}}
<li>
<div>{{descr}}</div>
<div> Status : {{action}} </div>
<div>{{col4}}</div>
<div>{{col5}}</div>
<div>{{dateCreated}} </div>
<div>{{dateSaved}}</div>
</li>
{{#comments}}
<li>
<div class="comment bubble">    
 <p> {{.}}<p/>
  </div>
</li>
{{/comments}}
{{/workflowLines}}
</ul>
    
  </section>
</section>
{{#user.isSAS}}
{{^user.isRET}}
  <section class="approver">
        <div class="rf-hdr-fa">
          <label> First Approver</label>
          <input type="hidden" class="select2-offscreen" {{Locked}} data-ps-tbl-name="XX_289_D_APPROV" id="loc_S2_XX_HDR_FA" placeholder="First approver">
          <input id="XX_HDR_FA" name="XX_HDR_FA" value="{{header.XX_HDR_FA}}" />
        </div>
  </section>
{{/user.isRET}}
{{/user.isSAS}}

  <section class="actions">
      <span class="x-split-button">
{{#user.canView.loc_XX_HPB_001}}
                    <button id="loc_XX_HPB_001" data-route-id="loc_XX_HPB_001" class="x-button x-button-main"></button>
{{/user.canView.loc_XX_HPB_001}}
{{#user.canView.loc_XX_HPB_350}}
           <button class="x-button x-button-drop sun-flower-button">&#9660;</button>
                    <ul class="x-button-drop-menu" id="loc_XX_HPB_350">
{{#user.isSAS}}
                        <li>
                            <a href="#"  data-route-id="loc_XX_HPB_350"  data-value="INV">Invalid Vendor</a>
                        </li>
                        <li>
                            <a href="#"  data-route-id="loc_XX_HPB_350"  data-value="UTX">Use Tax Review </a>
                        </li>
                        <li>
                            <a href="#"  data-route-id="loc_XX_HPB_350"  data-value="TBP">To Process</a>
                        </li>
                        <li>
                            <a href="#"  data-route-id="loc_XX_HPB_350"  data-value="PEN">Pending</a>
                        </li>
{{/user.isSAS}}
{{#user.isApprover}}
                        <li>
                            <a href="#"  data-route-id="loc_XX_HPB_350" data-value="SFL">Save for Later</a>
                        </li>
                        <li>
                            <a href="#"  data-route-id="loc_XX_HPB_350" data-value="APM">Awaiting Project Milestone </a>
                        </li>
                        <li>
                            <a href="#" data-route-id="loc_XX_HPB_350" data-value="APS">Awaiting Project Status</a>
                        </li>
                        <li>
                            <a href="#" data-route-id="loc_XX_HPB_350" data-value="ICI">Incorrect Invoice</a>
                        </li>
                        <li>
                            <a href="#" data-route-id="loc_XX_HPB_350" data-value="ICP">Incorrect PO</a>
                        </li>
                        <li>
                            <a href="#" data-route-id="loc_XX_HPB_350" data-value="OTH">Other</a>
                        </li>
{{/user.isApprover}}

                    </ul>
{{/user.canView.loc_XX_HPB_350}}
      </span>

      <div class="btn-bar">
{{#user.canView.loc_XX_HPB_520}}
             <button id="loc_XX_HPB_520" data-route-id="loc_XX_HPB_520" type="button" ></button>
{{/user.canView.loc_XX_HPB_520}}

{{#user.canView.loc_XX_HPB_540}}
             <button id="loc_XX_HPB_540" data-route-id="loc_XX_HPB_540" type="button" ></button>
{{/user.canView.loc_XX_HPB_540}}
{{#user.canView.loc_XX_HPB_600}}
             <button id="loc_XX_HPB_600" data-route-id="loc_XX_HPB_600" type="button" ></button>
{{/user.canView.loc_XX_HPB_600}}
{{#user.canView.loc_XX_HPB_400}}
             <button id="loc_XX_HPB_400" data-route-id="loc_XX_HPB_400" type="button" ></button>
{{/user.canView.loc_XX_HPB_400}}
{{#user.canView.loc_XX_HPB_521}}
             <button id="loc_XX_HPB_521" data-route-id="loc_XX_HPB_521" type="button" ></button>
{{/user.canView.loc_XX_HPB_521}}
{{#user.canView.loc_XX_HPB_530}}
             <button id="loc_XX_HPB_530" data-route-id="loc_XX_HPB_530" type="button" ></button>
{{/user.canView.loc_XX_HPB_530}}
{{#user.canView.loc_XX_HPB_PRI}}
             <button id="loc_XX_HPB_PRI" data-route-id="loc_XX_HPB_PRI" type="button" ></button>
{{/user.canView.loc_XX_HPB_PRI}}
      </div>

  </section>

    <input id="XX_HDR_SC" name="XX_HDR_SC" value="{{header.XX_HDR_SC}}" />
    <input id="XX_HDR_IP" name="XX_HDR_IP" value="" />
    <input id="XX_HDR_LO" name="XX_HDR_LO" value="" />
</div>
  </form>
</section>
