<section id="quick-section" class="component">
    <div class="qf-hdr-ii">
        <label for="XX_HDR_II">ID</label>
        <span id="XX_HDR_II">{{XX_HDR_II}}</span>
    </div>
  <div class="qf-hdr-id">
    <label for="QF_HDR_ID">Invoice Date</label>
    <input id="XX_HDR_ID" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="XX_HDR_ID" tabindex="1" value="{{XX_HDR_ID}}" />
  </div>
  <div class="qf-hdr-bu">
    <label for="XX_HDR_BU ">Business Unit</label>
    <input name="XX_HDR_BU" type="hidden" class="select2-offscreen" data-ps-tbl-name="XX_289_D_BU_SEC"  tabindex="2" id="loc_S2_XX_HDR_BU" />
  </div>

  <div class="qf-hdr-in">
    <label for="QF_HDR_IN">Invoice Number</label>
    <input name="XX_HDR_IN" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="XX_HDR_IN" tabindex="3" autocomplete="off" value="{{XX_HDR_IN}}" /></input>
  </div>

  <div class="qf-hdr-ga">
    <label for="XX_HDR_GA">Invoice Amount</label>
    <input name="XX_HDR_GA" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="XX_HDR_GA" tabindex="4" autocomplete="off" value="{{XX_HDR_GA}}" /></input>
  </div>

  <div class="qf-hdr-st">
    <label for="XX_HDR_ST">Sales Tax</label>
    <input name="XX_HDR_ST" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="XX_HDR_ST" tabindex="5" autocomplete="off" value="{{XX_HDR_ST}}" />
  </div>

  <div class="qf-hdr-po">
    <label for="XX_LIN_PO">Purchase Order</label>
    <input type="hidden" class="select2-offscreen" data-ps-tbl-name="XX_289_D_PO_02" data-s2-drop-class="po-drop1" data-ps-tbl-id="PO_ID"  tabindex="6" id="loc_S2_XX_LIN_PO" />
    <input id="XX_LIN_PO" name="XX_LIN_PO" value="{{XX_LIN_PO}}" />
  </div>

  <div class="qf-hdr-vi">
    <label for="XX_HDR_VI">Vendor</label>
    <input type="hidden" class="select2-offscreen" tabindex="7" data-ps-tbl-name="XX_289_D_VND_LC" data-ps-tbl-id="KEY1"  id="loc_S2_XX_HDR_VI" />
    <input id="XX_HDR_VL" name="XX_HDR_VL" value="{{XX_HDR_VL}}" />
    <input id="XX_HDR_VI" name="XX_HDR_VI" value="{{XX_HDR_VI}}" />
  </div>

    <div class="loc_vendorInfoQuick" id="loc_vendorInfo">
      <div id="addressInfo">
      </div>
      <div class="vl-check displayHidden"><input class="NL-check" type="checkbox" value="" data-label="Remove location" tabindex="3" /></div>
    </div>


  <div class="qf-hdr-so">
    <label for="XX_HDR_SO">Ship To</label>
    <input name="XX_HDR_SO" type="hidden" class="select2-offscreen" tabindex="10" data-ps-tbl-name="XX_289_D_SHIPTO" data-ps-tbl-id="SHIPTO_ID"  id="loc_S2_XX_HDR_SO" />
  </div>

  <div class="qf-hdr-fa">
    <label for="XX_HDR_FA">First Approver</label>
    <input name="XX_HDR_FA" type="hidden" class="select2-offscreen" tabindex="9" data-ps-tbl-name="XX_289_D_APPROV" data-ps-tbl-id="OPRID"  id="loc_S2_XX_HDR_FA" />
  </div>

  <div class="loc-ps-approver-buttons">
    <button id="loc_XX_HPB_310" data-route-id="loc_XX_HPB_310" type="button"  tabindex="11">Add</button>
    <button id="loc_XX_HPB_320" data-route-id="loc_XX_HPB_320" type="button"  tabindex="12">Invalid Vendor</button>
    <button id="loc_XX_HPB_330" data-route-id="loc_XX_HPB_330" type="button"  tabindex="13">Use Tax</button>
    <button id="loc_XX_HPB_340" data-route-id="loc_XX_HPB_340" type="button"  tabindex="14">Pending</button>
  </div>

</section>
