<div class="sc-s2-row">
    <div class="s2-drop header">
    <span>{{RESOURCE_SUB_CAT}}</span>
    <span>{{RES_SUB_CAT_DESCR}}</span>
    <span>{{RESOURCE_CATEGORY}}</span>
    <span>{{RES_CAT_DESCR}}</span>
</div>
</div>
