<div >
  <div >
    <span>{{VENDOR_ID}}</span>
    <span>{{NAME1}}</span>
    <span class="{{VENDOR_STATUS}}">{{VENDOR_STATUS}}</span>
    <span>{{VENDOR_NAME_SHORT}}</span>
    <span>{{VNDR_LOC}}</span>
    <span>{{ADDRESS1}}</span>
    <span>{{ADDRESS2}}</span>
    <span>{{CITY}}&nbsp,&nbsp{{STATE}}</span>
  </div>

</div>
