<div>
  <div>
    <span>{{OPRDEFNDESC}}</span>
    <span>{{STATUS_DESCR}}</span>
    <span>{{DESCR120}}</span>
    <span>{{BUSINESS_UNIT}}</span>
    {{#canApprove}}
    <i class="fa fa-check fa-3x canApprove"></i>
      <span  class="canApprove">
         Finance Approver
     </span>
    {{/canApprove}}
  </div>

</div>
