<a href="#" class="tooltip">
    PO :
    <span>
        <img class="callout" src="images/callout.gif" />
        <b>Bus Unit:</b> {{BUSINESS_UNIT}}</br>
        <b>PO Status:</b>  {{XX_PO_STATUS_DESCR}}</br>
        <b>Bill to:</b>    {{OPRDEFNDESC}}</br>
        <b>PO Date:</b>    {{XX_PO_DT_CHAR}}</br>
        <b>Vndr Loc:</b>   {{VNDR_LOC}}</br>
        <b>PO Header Bill Location: </b> {{SHIPTO_ID}}</br>
    </span>
</a>
