<a href="#" class="tooltip">
    Project ID:
    <span>
        <img class="callout" src="images/callout.gif" />
        <b>Bus Unit:</b> {{BUSINESS_UNIT}}</br>
        <b>OU:</b>  {{OPERATING_UNIT}}</br>
        <b>Proj Owner:</b>    {{XX_PRJ_OWNER_NAME}}</br>
        <b>Type:</b>    {{PROJECT_TYPE}}</br>
        <b>Status:</b>   {{PROJECT_STATUS}}</br>
        <b>DeptID: </b> {{DEPTID}}</br>
        <b>Start Date:</b>    {{XX_START_DT_CHAR}}</br>
        <b>Finish Date:</b>   {{XX_BASE_FINISH_CHR}}</br>
        <b>Client Name Short: </b> {{XX_CLNT_NAME_SHORT}}</br>
        <b>Division:</b>    {{DIVISION}}</br>
        <b>Brand:</b>   {{XX_BRAND_DESCR}}</br>
        <b>Product: </b> {{XX_PRODUCT_DESCR}}</br>

    </span>
</a>
