<div class="VENDOR_INFO">
  <h4>ID: {{VENDOR_ID}}
    <span class="{{VENDOR_STATUS}}">{{VENDOR_STATUS}}</span></h4>
    <h5>{{NAME1}}</h5>
    <div>{{VENDOR_NAME_SHORT}}</div>
    <div>{{VNDR_LOC}}</div>
    <div>{{ADDRESS1}}</div>
    <div>{{ADDRESS2}}</div>
    <div>{{CITY}}&nbsp,&nbsp{{STATE}}&nbsp&nbsp&nbsp{{POSTAL}}</div>
</div>
